DATABASE_URL="postgresql://postgres:postgres@localhost:5432/fip_dev"

NEXT_PUBLIC_FIP_APP_ID="sample-app"
NEXT_PUBLIC_FIP_INGEST_URL="http://localhost:3000/api/ingest"
NEXT_PUBLIC_FIP_RELEASE="1.0.0"
NEXT_PUBLIC_FIP_ENV="development"
